body {
  font-family: 'SpoqaHanSansNeo-Regular', 'sans-serif';
  margin: 0;
  padding: 0;
}

.login-hidden {
  display: none;
}

#product-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

#header-container-detail {
  position: relative;
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

#header-detail {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

#logo {
  width: 124px;
  height: 38px;
  margin-left: 320px;
}

#search-form-detail {
  width: 400px;
  height: 46px;
  margin-left: 30px;
  position: relative;
}

#search-input-detail {
  width: 100%;
  height: 100%;
  padding-right: 40px;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 0 1px #21bf48;
  font-size: 16px;
  box-sizing: border-box;
}

#search-input-detail::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #767676;
  padding: 13px 22px 13px 22px;
}

#search-form-detail button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#search-form-detail button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#cart-button-detail,
#login-button-detail {
  border: none;
  background-color: transparent;
}

#buttons {
  position: absolute;
  right: 320px;
  display: flex;
  gap: 26px;
}
